@page
@model EntAppSecond.Pages.Students.CreateModel
@{
    ViewData["Title"] = "Create";
}



<h2>Create</h2>

<form method="post">
    <div>
        <label asp-for=Student.FirstName></label>
        <input asp-for=Student.FirstName>
    </div>

    <div>
        <label asp-for=Student.LastName></label>
        <input asp-for=Student.LastName>
    </div>

    <div>
        <label asp-for=Student.StudentID></label>
        <input asp-for=Student.StudentID>

        <div asp-validation-summary="All"></div>
        <Span asp-validation-for="Student.StudentID"></Span>

        <button type="submit">Press Me</button>
    </div>
</form>


