@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>goodbye</title>
</head>
<body>
    <h1> Goodbye from the goodbye.cshml file</h1>
    <p>The current time is @DateTime.Now.TimeOfDay</p>
   

</body>
</html>
