@page
 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WS1b</title>
</head>
<body>
    <form method="post">
        <label for="Number1">Number1</label>
        <input type="number" id="FNumber" name="Number1" value="">
        <button type="submit">Enter Your first number</button>

        <label for="Number2">Number2</label>
        <input type="number" id="SNumber" name="Number2">
        <button type="submit">Enter Your second number</button>

    </form>
    <p></p>
</body>
</html>
